/* акцент (голубой) #2196F3 */
/* основной цвет (черн) #212121 */
/* вторичный цвет описание (сер) #757575 */
/* белый #FFFFFF */
/* белый с прозрасностью rgba(255,255,255,0,6) */

:root{
    --primary-text-color: #212121;
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
}

body{
    padding-top: 80px;

    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.03em;

    background-color: #fff;
    color:var(--primary-text-color);

}

a{
    text-decoration:none;
}

p{
    color:var(--secondary-text-color) ;
}

b{
    color: var(--primary-text-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.accent{
    color:var(--accent-text-color) ;
}

.logo{

    color:var(--primary-text-color);

    font-family:Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h2{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}


/* Шапка */

header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 1;

    min-height: 80px;

    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: solid 1px rgba(236,236,236,1);
}

.header .conteiner{
    display: flex;
    align-items: center;
}

.main-nav{
    display: flex;
    align-items: center;
}

.logo-header{
    margin-right: 93px;
}

.nav{
    display:flex;
}

.nav li:not(:last-child){
    margin-right: 50px;
}

.nav li{
    position: relative;
}

.nav a{
    display:block;
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--primary-text-color) ;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after{
    content: "";

    position: absolute;
    bottom: 0px;
    left: 0px;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;

    background-color: var(--accent-text-color);
}

.address{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    align-items: center;
}

.address li:not(:last-child){
    margin-right: 50px;
}


.address a{
    color: var(--secondary-text-color);
    
    display: flex;
    padding: 32px 0px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:var(--accent-text-color) ;
}

.icon-milo{
    width:16px;
    height:12px;
}

.icon-phone{
    width:10px;
    height:16px;
}

.icon-contacts{
    fill: currentColor;

    margin-right: 10px;
    height: 16px;
    width: 16px;
}

/* Секции */

.description-page{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #fff;
}

/* Герой */
.hero{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #2F303A;;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
}

.hero-title{
    color: #fff;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;

    margin-bottom: 30px;
    

}

.hero-text{
    padding-top: 200px;
    padding-bottom: 200px;
}

.button{
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: var(--accent-text-color);
    color: #fff;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    border-radius: 4px;
}

/* Наши приемущества */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

.hidden-header{
    margin-top: 0;
    margin-bottom: 0;
}

.advantages{
display: flex;
}

.advantages li:not(:last-child){
    margin-right: 30px;
}


.advanages-svg{
    display: flex;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    

    background-color: #F5F4FA;
}

.icon-advantages{
    margin: auto;

    height: 70px;
    width: 70px;
}

.advantages h3{
    margin-bottom: 10px;
}

/* Чем Мы занимаемся */

.title{
    margin-bottom: 50px;
}

.description-page  h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.description-page  p{
    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

.description-page p {
    margin-top: 0;
    margin-bottom: 0;
}

.development{
    padding-top: 0px;
}

.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-list li{
    position: relative;

    width: calc((100% - 60px)/3);
    margin-right: 30px;
}

.work-list li:nth-child(3n){
    margin-right: 0px;
}

.work-list .text{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;

    background-color: rgba(47,48,58,0.8);
    color: #fff;
}

/* Наша команда */

.workers{
    background-color: #F5F4FA;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    letter-spacing: 0.03em;
}


.workers ul{
    display: flex;
}

.workers .workers-name{
    width: 270px;
    height: 428px;

    text-align: center;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers-name:not(:last-child){
    margin-right: 30px;
}

.workers b{
    font-weight: 500;
    
    display: inline-block;

    margin-bottom: 10px;
}

.workers img{
    margin-bottom: 30px;
}

.container-links{
    display: flex;

    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
}



.workers-link{
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 10px;

    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.workers-link .workers-svg{
    width: 20px;
    height: 20px;
    margin: auto;

    fill: currentColor;
}

.workers-link:hover,
.workers-link:focus{
    background-color: var(--accent-text-color);
    color: #fff;
}

/* Постоянные клиенты */

.clients-conteiner h2{
    margin-bottom: 50px;
}

.clients{
    display: flex;
    
}

.clients-item:not(:last-child){
    margin-right: 30px;
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 170px;
    height: 90px;
    border-radius: 4px;

    border: 1px solid #AFB1B8;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg{
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus{
    color: var(--accent-text-color);
    border-color: var(--accent-text-color) ;
}

.client-1{
    width:44.27px;
    height:49.23px;
}

.client-2{
    width:40px;
    height:52px;
}

.client-3{
    width:41px;
    height:42.6px;
}

.client-4{

    width:79.66px;
    height:42.02px;
}

.client-5{
    width:59px;
    height:47px;
}

.client-6{
    width:88.48px;
    height:45.44px;
}






/* Подвал */

footer{
    background-color: #2F303A;
    color: #FFFFFF;

    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-conteiner{
    display: flex;
    align-items: baseline;
}

.address-footer{
    margin-right: 70px;
}

address{
    font-style: normal;
}

.logo-footer{
    color: #fff;

    font-family:Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

    display: inline-block;

    margin-bottom: 20px;
}

.footer-link{
    color: rgba(255, 255, 255, 0.6);
}

footer address{
    margin-bottom: 9px;
}

footer li:not(:last-child) {
    margin-bottom: 9px;
}

/* Присоединяйтесь */
.social p{
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 16,41px;

    color: #fff;
}

.social-conteiner{
    display: flex;
}

.social-link{
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;

    color: #fff;
    background-color: rgb(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color:var(--accent-text-color);
}

.social-item:not(:last-child){
    margin-right: 10px;
}

.social-svg{
    width: 20px;
    height: 20px;
    margin: auto;

    fill: currentColor;
}

/* Модальное окно */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;

    
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    height: 581px;

    background-color: #fff;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal .close{
    position: absolute;
    top: 8px;
    right: 8px;

    border: none;
    outline: none;
    cursor: pointer;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: #fff;
}

.backdrop.is-hidden .modal{
transform: translate(-50%, -50%) scale(0.5);

}

.feedback{
    padding: 40px;
}

.feedback b{
    display: flex;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.form-field{
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field label{
    margin-bottom: 4px;

    font-size: 12px;

    color: #757575;
}

.form-field input{
    

    padding: 12px 15px;

    border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-icon{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 18px;
    height: 18px;
}

.form-comment{
    display: flex;
    flex-direction: column;
}

.form-comment{
    margin-bottom: 20px;
}

.textarea{
    resize: none;
    height: 120px;

    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}
.textarea::placeholder{
    font-size: 14pz;

    color: rgba(117, 117, 117, 0.5);
}

.policy{
    margin-bottom: 30px;
}

.form-button{
    display: flex;
    justify-content: center;
}

.form-button button{
    border: none;

    width: 200px;
    height: 50px;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;


    background-color: var(--accent-text-color);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

}


/* Портфолио */

.filter-conteiner{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter{
    background-color: #F5F4FA;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-conteiner li:not(:last-child){
    margin-right: 8px;
}

.filter:hover,
.filter:focus{
    color: #FFFFFF;
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects li{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    border: solid 1px rgba(238,238,238,1);
}

.projects a{
    display: block;
}

.img-text{
    position: relative;
    overflow: hidden;
}

.projects a:focus,
.projects a:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects li:nth-child(3n){
    margin-right: 0px;
}

.projects li:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.projects-name{
    padding: 20px 24px;
}

.projects b{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    display: flex;
    margin-bottom: 4px;
}

.projects p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.sub-text{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 294px;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: #fff;

    opacity: 0;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a:hover .sub-text,
.projects a:focus .sub-text{
    opacity: 1;
    transform: translateY(0);
}