footer{
    background-color: #2F303A;
    color: #FFFFFF;

    font-weight: 400;
    line-height: 1.71;

    letter-spacing: 0.03em;

    padding-top: 60px;
    padding-bottom: 60px;

    .footer-conteiner{
        display: flex;
        align-items: baseline;
    }
}

.address-footer{
    margin-right: 70px;

    .logo-footer{   
        display: inline-block;
    
        margin-bottom: 20px;

        color: #fff;
    }

    address{
        font-style: normal;

        margin-bottom: 9px;
    }
}

.footer-link:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link .link{
    color: rgba(255, 255, 255, 0.6);
}

/* Присоединяйтесь */

.social p{
    margin-bottom: 20px;

    font-weight: 700;

    color: #fff;
}

.social-conteiner{
    display: flex;

    .social-item:not(:last-child){
        margin-right: 10px;
    }
}

.social-link{
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;

    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-svg{
        width: 20px;
        height: 20px;
        margin: auto;
    
        fill: currentColor;
    }
}
.social-link:hover,
.social-link:focus{
    background-color:$accent-color;
}

/* Футер форма */

.footer-form{
    margin-left: auto;

    label{
        display: block;
    
        margin-bottom: 20px;
    
        font-weight: 700;
        font-size: 14px;
    }

    input{
        padding: 16px 15px;
        margin-right: 12px;
    
        font-size: 16px;
    
        background-color: #2F303A;
        width: 358px;
        height: 50px;
    
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        cursor: pointer;
    }

    input:focus{
        color: #fff;
    }
}

.footer-form button{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 10px 29px;

    font-size: 16px;
    font-weight: 700;

    background-color: $accent-color;
    border:  1px solid $accent-color ;
    color: #fff;
    border-radius: 4px;

    .icon-send{
        margin-left: 10px;
        width: 24px;
        height: 24px;
    }
}





