.header{
    @media screen and (min-width: 480px) {
        min-height: 60px;
    }

    @media screen and (min-width: 768px) {
        min-height: 60px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 80px;
    }
}

.main-nav{
    display: flex;

    .nav{
        display: flex;

        @media screen and (max-width: 479px) {
            display: none;
        }
    }
}

.address{
    display: flex;

    @media screen and (max-width: 479px) {
        display: none;
    }
}
