.hero{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #2F303A;;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
}

.hero-conteiner{
    padding-top: 200px;
    padding-bottom: 200px;

    .hero-title{
        color: #fff;
      
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
    
        letter-spacing: 0.06em;
    
        margin-bottom: 30px;
    }

    .button{
        background-color: $accent-color;
        color: #fff;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
    
        text-align: center;
        letter-spacing: 0.06em;
    
        padding: 10px 32px;
        border-radius: 4px;
    }
}