body{
    padding-top: 80px;

    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.03em;

    background-color: #fff;
    color: $primary-text-color;

}

.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

h2{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.description-page{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  p{
    color:$secondary-text-color;
}