.clients{
    display: flex;

    .clients-item:not(:last-child){
        margin-right: 30px;
    }
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 170px;
    height: 90px;
    border-radius: 4px;

    border: 1px solid #AFB1B8;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-svg{
        fill: currentColor;
    }
}

.clients-link:hover,
.clients-link:focus{
    color: $accent-color;
    border-color: $accent-color ;
}

.client-1{
    width:44.27px;
    height:49.23px;
}

.client-2{
    width:40px;
    height:52px;
}

.client-3{
    width:41px;
    height:42.6px;
}

.client-4{

    width:79.66px;
    height:42.02px;
}

.client-5{
    width:59px;
    height:47px;
}

.client-6{
    width:88.48px;
    height:45.44px;
}