
.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li:nth-child(3n){
        margin-right: 0px;
    }

    li{
        position: relative;
    
        width: calc((100% - 60px)/3);
        margin-right: 30px;
    }
}

.work-list .text{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;

    background-color: rgba(47,48,58,0.8);
    color: #fff;
}