

.logo-header{
    color: $primary-text-color;
    margin-right: 93px;
    .accent{
        color: $accent-color;
    }
}

header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 1;

    min-height: 80px;

    background-color: #fff;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: solid 1px rgba(236,236,236,1);

    .conteiner{
        display: flex;
        align-items: center;
    }
}

.main-nav{
    display: flex;
    align-items: center;
}

.nav{
    display:flex;
    li:not(:last-child){
        margin-right: 50px;
    }
    
    li{
        position: relative;
    }
    
    a{
        display:block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        color: $primary-text-color;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.current::after{
    content: "";

    position: absolute;
    bottom: 0px;
    left: 0px;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;

    background-color: $accent-color;
}

.address{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    align-items: center;
    li:not(:last-child){
        margin-right: 50px;
    }
    
    
    a{
        color: $secondary-text-color;
        
        display: flex;
        padding: 32px 0px;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.icon-contacts{
    fill: currentColor;

    margin-right: 10px;
    height: 16px;
    width: 16px;
    .icon-milo{
        width:16px;
        height:12px;
    }
    
    .icon-phone{
        width:10px;
        height:16px;
    }
}

.nav a:hover,
.nav a:focus,
.address a:hover,
.address a:focus{
    color:$accent-color;
}