.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    
        width: 528px;
        height: 581px;
    
        background-color: #fff;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;   
}

.modal .close{
    position: absolute;
    top: 8px;
    right: 8px;

    border: none;
    outline: none;
    cursor: pointer;

    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: #fff;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close:focus,
.modal .close:hover{
    color: $accent-color;
}


.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);
    
    }





.feedback{
    padding: 40px;

    b{
        display: flex;
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }
}

.form-field{
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label{
        margin-bottom: 4px;
    
        font-size: 12px;
    
        color: $secondary-text-color;
    }

    input{
        outline: none;
    
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 42px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    input:focus{
        border:  1px solid $accent-color ;
    }

    .form-icon{
        position: absolute;
        bottom: 0;
        left: 12px;
    
        width: 18px;
        height: 18px;
    
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.form-field:focus-within > .form-icon{
    fill: $accent-color;
}

.form-comment{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    .textarea{
        resize: none;
        height: 120px;
        outline: none;
    
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
    
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .textarea::placeholder{
        font-size: 14px;
    
        color: rgba(117, 117, 117, 0.5);
    }

    textarea:focus{
        border:  1px solid $accent-color ;
    }
}

.policy{
    display: flex;
    align-items: center;
    
    margin-bottom: 30px;
    cursor: pointer;

    .checkbox{
        position: absolute;
        appearance: none;
    }

    .icon-check{
        display: inline-block;
    
        width: 16px;
        height: 15px;
        margin-right: 7px;
    
        border: 2px solid #212121;
        border-radius: 2px;
    
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    .checkbox:checked + .icon-check{
        background-color: $accent-color;
        border: $accent-color;
        background-image: url('../images/form-check.svg');
        background-size: contain;
        background-origin: border-box;
    }

    a{
        text-decoration: underline;
        text-decoration-skip-ink: none;
    
        color: $accent-color;
    }
}

.form-button{
    display: flex;
    justify-content: center;

    button{
        width: 200px;
        height: 50px;
    
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
    
    
        background-color: $accent-color;
        color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    
    }
}