.workers{
    background-color: #F5F4FA;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    letter-spacing: 0.03em;

    .workers-list{
        display: flex;
    }
}

.workers-name:not(:last-child){
    margin-right: 30px;
}

.workers-name{
    width: 270px;
    height: 428px;

    text-align: center;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    b{
        font-weight: 500;
        
        display: inline-block;
    
        margin-bottom: 10px;
    }
    
    img{
        margin-bottom: 30px;
    }
}

.container-links{
    display: flex;

    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;

    .workers-link:hover,
    .workers-link:focus{
    background-color: $accent-color;
    color: #fff;
    }

    .workers-link{
        display: flex;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        margin-right: 10px;
    
        color: #AFB1B8;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .workers-svg{
            width: 20px;
            height: 20px;
            margin: auto;
        
            fill: currentColor;
        }
    }
}
