a{
    text-decoration:none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    // display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}